snippet shell
    <div>[shell]
    ${1}
    [/shell]</div>

snippet py
    <div>[py]
    ${1}
    [/py]</div>

snippet code
    <div>[${1}]
    [/${2}]</div>

snippet mtg
    [d title="${1}" style="embedded"]
    Creatures
    ${2:num} ${3:name}
    Spells
    Lands
    Sideboards
    [/d]

snippet color
    <Font color="${1}">${2}</Font>

snippet blogcard
    [blogcard url="${1}"][/blogcard]

